* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2a2a;
  background-image: url(./Images/kenny-eliason-ZSz1m4JPDqU-unsplash.jpeg);
  background-size: cover;
  color: #fff;
}
header {
  background-color: #000000be;
  color: #fff;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 3.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: yellow;
}
/* Navbar */
header {
  background-color: #181717;
  color: #fff;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 3.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: yellow;
}
/* Navbar */
.menu {
  background-color: #181717;
  text-align: center;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__list li {
  display: inline-block;
  margin: 20px 10px;
}
.menu__list a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu__list a:hover {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  transition: 0.6s ease;
}
/* Body */
h4 {
  margin-bottom: -10px;
  font-size: 2.2rem;
  color: black;
  padding: 15px;
  color: white;
}
.main-container__CompanyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
  max-width: 1000px;
  font-size: 1.7rem;
  line-height: 40px;
}
.CompanyInfo__text {
  font-size: 1.7rem;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 1000px;
}
h4 {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
footer {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 20px;
  background-color: #000000be;
  color: white;
  padding: 10px;
}
