* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./Images/kenny-eliason-ZSz1m4JPDqU-unsplash.jpeg);
  background-size: cover;
}
h1 {
  background-color: #181717;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 3.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: yellow;
}

/* Navbar */
.menu {
  background-color: #181717;
  text-align: center;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__list li {
  display: inline-block;
  margin: 20px 10px;
}
.menu__list a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu__list a:hover {
  background-color: rgb(218, 71, 71);
  padding: 5px;
  border-radius: 10px;
  transition: 0.6s ease;
}
/* Form */
h4 {
  color: white;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: -40px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
  max-width: 600px;
}
label {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}
.main-container__form-box {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color:rgb(44, 40, 40);
}
input {
  font-size: 1.3rem;
  border-radius: 10px;
}
textarea {
  font-size: 1.3rem;
  height: 150px;
  resize: vertical;
  width: 100%;
  border-radius: 10px;
}
.submit-btn {
  font-size: 1.2rem;
  padding: 13px;
  border-radius: 10px;
  width: 100%;
  border: none;
}
.submit-btn:hover {
  background-color: red;
  color: white;
}
footer {
  background-color: #000000be;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 40px;
}

