* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./Images/kenny-eliason-ZSz1m4JPDqU-unsplash.jpeg);
  background-size: cover;
}
h1 {
  background-color: #181717;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 3.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: yellow;
}

/* Navbar */

.mobile-menu {
  display: none;
}
.menu {
  background-color: #181717;
  text-align: center;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__list li {
  display: inline-block;
  margin: 20px 10px;
}
.menu__list a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu__list a:hover {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  transition: 0.6s ease;
}
/* Body */
.Image__Card {
  position: relative;
  max-width: 400px;
  height: 550px;
  background-color: rgb(44, 40, 40);
  border-radius: 5px;
  padding: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  &:hover {
    transform: scale(1.01);
  }
}

.price-btn {
  background-color: rgb(255, 37, 37);
  padding: 8px;
  border: none;
  border-radius: 0 0 5px 5px;
  color: white;
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.price-btn:hover {
  background-color: rgba(195, 30, 30, 0.812);
  cursor: pointer;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 30px;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 50px 0 50px 0;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 50px 0 50px 0;
}
p {
  padding: 5px 0 0 10px;
  font-size: 1.2rem;
  color: white;
}
ul {
  list-style: none;
  color: rgb(255, 37, 37);
  padding: 15px 0 0 10px;
  font-size: 1.6rem;
}
h2 {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 10px;
  color: white;
}
footer {
  background-color: #000000be;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 450px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }

  .mobile-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 10px;
    background-color: #181717;
  }

  .mobile-menu__list a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
